.App {
  text-align: center;
}

.displayposts {
  line-height: 1cm;
  cursor: pointer;
}

.displayposts:hover {
  background: rgba(25, 26, 24, 0.384);
  color: white;
}

.username {
  color: rgb(0, 86, 182);
}

.username:hover {
  color: rgb(0, 255, 21);
}

.search {
  margin-top: 20px;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}



